
// @font-face {
//   font-family: "Poppins";
//   // font-weight: 400;
//   font-style: normal;
//   font-display: swap;
//   src: url("../fonts/poppins_VariableFont_wght.ttf") format('truetype');
// }


@font-face{
  font-family: "Poppins";
  font-weight: 500;
  font-style: normal;
  src: url("../fonts/poppins-500.ttf") format('truetype');
}

@font-face{
  font-family: "Poppins";
  font-weight: 600;
  font-style: normal;
  src: url("../fonts/poppins-600.ttf") format('truetype');
}

@font-face{
  font-family: "Poppins";
  font-weight: 700;
  font-style: normal;
  src: url("../fonts/poppins-700.ttf") format('truetype');
}
