@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif !important;
}

body.not-active {
  overflow-y: hidden;
}

a {
  text-decoration: none !important;
}

@font-face {
  font-family: "Poppins";
  font-weight: 400;
  font-style: normal;
  src: url("../fonts/poppins-400.ttf") format("truetype");
}
@font-face {
  font-family: "Poppins";
  font-weight: 500;
  font-style: normal;
  src: url("../fonts/poppins-500.ttf") format("truetype");
}
@font-face {
  font-family: "Poppins";
  font-weight: 600;
  font-style: normal;
  src: url("../fonts/poppins-600.ttf") format("truetype");
}
@font-face {
  font-family: "Poppins";
  font-weight: 700;
  font-style: normal;
  src: url("../fonts/poppins-700.ttf") format("truetype");
}
.login-wrapper {
  position: relative;
  height: 100vh;
  overflow: hidden;
}
.login-wrapper .login-inner-wrapper {
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}
.login-wrapper .login-inner-wrapper .bg-img {
  position: absolute;
}
.login-wrapper .login-inner-wrapper .bg-img.bg-pattern {
  width: 100%;
  inset: 0;
  height: 100%;
  object-fit: cover;
  z-index: -1;
}
.login-wrapper .login-inner-wrapper .bg-img.left-bottom-bg {
  bottom: 0;
  left: 0;
}
.login-wrapper .login-inner-wrapper .bg-img.top-left-bg {
  top: clamp(40px, 4.4vw, 4.4vw);
  left: 5.2%;
  width: clamp(152px, 15.84%, 304px);
}
.login-wrapper .login-inner-wrapper .bg-img.top-right-bg {
  top: -11.1%;
  right: -18.6%;
  width: clamp(420px, 43.7%, 839px);
}
.login-wrapper .login-inner-wrapper .bg-img.bottom-left-bg {
  bottom: -38%;
  left: -19.2%;
  width: clamp(420px, 43.7%, 839px);
}
.login-wrapper .login-inner-wrapper .bg-img.bottom-right-bg {
  bottom: clamp(25px, 2.61vw, 50px);
  right: 1.3%;
  width: clamp(147px, 15.313%, 294px);
}
.login-wrapper .login-inner-wrapper .login-container {
  background-color: white;
  padding: clamp(25px, 6.2%, 6.2%) clamp(20px, 2%, 2%) clamp(15px, 2.1%, 2.1%);
  display: flex;
  flex-direction: column;
  align-items: center;
  width: clamp(440px, 33.6%, 645px);
  max-height: 85%;
  box-shadow: 0px 0px 6px 0px rgba(0, 0, 0, 0.23);
  border-radius: clamp(8px, 0.83vw, 0.83vw);
  overflow-y: auto;
}
.login-wrapper .login-inner-wrapper .login-container .logo {
  margin-bottom: clamp(15px, 1.65vw, 1.65vw);
  width: 37.84%;
}
.login-wrapper .login-inner-wrapper .login-container .login-header {
  font-size: clamp(25px, 2.66vw, 2.66vw);
  opacity: 0.85;
  line-height: 1;
  font-weight: 700;
  margin-bottom: clamp(30px, 3.13vw, 3.13vw);
}
.login-wrapper .login-inner-wrapper .login-container .login-form {
  width: 88%;
  margin: 0 auto;
}
.login-wrapper .login-inner-wrapper .login-container .login-form .input-wrapper {
  width: 100%;
  position: relative;
}
.login-wrapper .login-inner-wrapper .login-container .login-form .input-wrapper .form-group {
  width: 100%;
  border-bottom: 1px solid #acacac;
  padding-bottom: clamp(7px, 0.521vw, 0.521vw);
}
.login-wrapper .login-inner-wrapper .login-container .login-form .input-wrapper .form-group label {
  margin-right: clamp(6px, 0.521vw, 0.521vw);
}
.login-wrapper .login-inner-wrapper .login-container .login-form .input-wrapper .form-group label i {
  color: #acacac;
  font-size: clamp(12px, 0.89vw, 0.89vw);
}
.login-wrapper .login-inner-wrapper .login-container .login-form .input-wrapper .form-group input {
  font-size: clamp(12px, 0.89vw, 0.89vw);
  border: none;
  color: rgba(0, 0, 0, 0.8);
  width: 90%;
  outline: none;
}
.login-wrapper .login-inner-wrapper .login-container .login-form .input-wrapper .form-group input:-webkit-autofill {
  -webkit-box-shadow: 0 0 0 1000px white inset;
  -webkit-text-fill-color: rgba(0, 0, 0, 0.8);
}
.login-wrapper .login-inner-wrapper .login-container .login-form .input-wrapper .form-group input::placeholder {
  color: #acacac;
}
.login-wrapper .login-inner-wrapper .login-container .login-form .input-wrapper.password-wrapper {
  padding: clamp(24px, 2.067vw, 2.067vw) 0 clamp(20px, 1.304vw, 1.304vw);
}
.login-wrapper .login-inner-wrapper .login-container .login-form .input-wrapper .error {
  position: absolute;
  margin-bottom: 0;
  margin: 2px 0;
  color: #eb0808;
  width: 100%;
  font-size: clamp(11px, 0.79vw, 0.79vw);
}
.login-wrapper .login-inner-wrapper .login-container .login-form .forgot-wrapper {
  display: flex;
  justify-content: space-between;
}
.login-wrapper .login-inner-wrapper .login-container .login-form .forgot-wrapper .remember-wrapper {
  display: flex;
  align-items: center;
  gap: clamp(7px, 0.521vw, 0.521vw);
}
.login-wrapper .login-inner-wrapper .login-container .login-form .forgot-wrapper .remember-wrapper input {
  width: clamp(15px, 0.79vw, 0.79vw);
  height: clamp(15px, 0.79vw, 0.79vw);
  border-radius: 0;
}
.login-wrapper .login-inner-wrapper .login-container .login-form .forgot-wrapper .remember-wrapper input[type=checkbox], .login-wrapper .login-inner-wrapper .login-container .login-form .forgot-wrapper .remember-wrapper input:hover {
  accent-color: #015685;
}
.login-wrapper .login-inner-wrapper .login-container .login-form .forgot-wrapper .remember-wrapper label {
  color: #acacac;
  font-size: clamp(12px, 0.83vw, 0.83vw);
}
.login-wrapper .login-inner-wrapper .login-container .login-form .forgot-wrapper .forgot-container .forgot-link {
  font-size: clamp(12px, 0.83vw, 0.83vw);
  color: #015685;
}
.login-wrapper .login-inner-wrapper .login-container .login-form .forgot-wrapper .forgot-container .forgot-link:hover {
  text-decoration: underline !important;
}
.login-wrapper .login-inner-wrapper .login-container .login-form .submit-btn-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: clamp(6px, 0.521vw, 0.521vw);
}
.login-wrapper .login-inner-wrapper .login-container .login-form .submit-btn-container .login-btn {
  width: 100%;
  margin-top: clamp(20px, 4.4vw, 4.4vw);
  padding: clamp(7px, 0.73vw, 0.73vw);
  color: rgba(255, 255, 255, 0.8);
  background-color: #015685;
  border: 1px solid transparent;
  font-size: clamp(13px, 0.93vw, 0.93vw);
  border-radius: clamp(7px, 0.73vw, 0.73vw);
  cursor: pointer;
}
.login-wrapper .login-inner-wrapper .login-container .login-form .submit-btn-container .login-btn:hover {
  border: 1px solid #acacac;
  color: #015685;
  background-color: transparent;
}
.login-wrapper .login-inner-wrapper .login-container .login-form .submit-btn-container .or-text {
  font-size: clamp(13px, 0.93vw, 0.93vw);
  color: rgba(0, 0, 0, 0.8);
}
.login-wrapper .login-inner-wrapper .login-container .login-form .submit-btn-container .login-acnt {
  font-size: clamp(12px, 0.83vw, 0.83vw);
  color: #015685;
}
.login-wrapper .login-inner-wrapper .login-container .login-form .submit-btn-container .login-acnt:hover {
  text-decoration: underline !important;
}
.login-wrapper .login-inner-wrapper .copyright-text {
  position: absolute;
  bottom: clamp(15px, 1.45vw, 28px);
  right: 3.3%;
  font-size: clamp(9px, 0.73vw, 0.73vw);
  color: #acacac;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: clamp(12px, 1.2vw, 1.2vw) clamp(12px, 1.25vw, 1.25vw) clamp(10px, 1.2vw, 1.2vw) clamp(15px, 1.304vw, 1.304vw);
  box-shadow: 0px 6px 7px -2px rgba(0, 0, 0, 0.2);
}
header .logo {
  display: inline-block;
  width: clamp(98px, 9.23vw, 9.23vw);
}
header .logo img {
  width: 100%;
}
header .search-wrapper {
  width: 40.3%;
  border: 1px solid #616161;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: clamp(7px, 0.521vw, 0.521vw) clamp(8px, 0.73vw, 0.73vw);
  gap: clamp(7px, 0.521vw, 0.521vw);
  margin-left: clamp(15px, 2.34vw, 2.34vw);
  border-radius: 5px;
}
header .search-wrapper input {
  flex: 1;
  border: none;
  font-size: clamp(12px, 0.89vw, 0.89vw);
  outline: none;
}
header .search-wrapper label img {
  filter: invert(0);
  width: clamp(12px, 0.89vw, 0.89vw);
}
header nav {
  display: flex;
  align-items: center;
}
header nav ul {
  display: flex;
  align-items: center;
  gap: clamp(12px, 2.067vw, 2.067vw);
  margin-bottom: 0;
}
header nav ul li {
  list-style-type: none;
  font-size: clamp(12px, 0.83vw, 0.83vw);
}
header nav ul li.profile-container {
  display: flex;
  position: relative;
  gap: clamp(10px, 1.05vw, 1.05vw);
  cursor: pointer;
}
header nav ul li.profile-container .profile-img-wrapper {
  width: clamp(17px, 2.2vw, 2.2vw);
  height: clamp(17px, 2.2vw, 2.2vw);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(147, 147, 147, 0.8);
}
header nav ul li.profile-container .profile-img-wrapper img {
  width: clamp(13px, 1.25vw, 1.25vw);
}
header nav ul li.profile-container .profile-toggle {
  border: none;
  background-color: transparent;
}
header nav ul li.profile-container .profile-toggle img {
  width: clamp(17px, 1.05vw, 1.05vw);
}
header nav ul li.profile-container .profile-menu {
  position: absolute;
  top: 105%;
  right: 0;
  background: white;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  display: none;
  width: 120px;
  z-index: 4;
  cursor: pointer;
  left: 50%;
  transform: translateX(-50%);
}
header nav ul li.profile-container .profile-menu.active {
  display: block;
}
header nav ul li.profile-container .profile-menu a {
  padding: 10px 10px;
  text-decoration: none;
  color: #333;
  display: block;
  text-align: center;
  font-size: clamp(11px, 0.84vw, 16px);
}
header nav ul li a {
  display: inline-block;
}
header nav ul li a img {
  filter: invert(1);
  width: clamp(13px, 1.25vw, 1.25vw);
}
header nav ul li a.new-quote-btn {
  font-size: clamp(11px, 0.73vw, 0.73vw);
  padding: 7px clamp(12px, 1.25vw, 1.25vw);
  color: rgba(255, 255, 255, 0.8);
  background-color: #154787;
  margin-right: clamp(5px, 0.521vw, 0.521vw);
  cursor: pointer;
}

.dashboard-wrapper {
  margin-top: 6px;
  background-color: #f5f5f5;
  padding: clamp(20px, 1.8vw, 1.8vw) clamp(12px, 1.25vw, 1.25vw);
}
.dashboard-wrapper .dashboard-header-wrapper {
  margin-bottom: clamp(23px, 2.4vw, 2.4vw);
}
.dashboard-wrapper .dashboard-header-wrapper .header-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: clamp(24px, 2.5vw, 2.5vw);
}
.dashboard-wrapper .dashboard-header-wrapper .header-container h2 {
  color: rgba(0, 0, 0, 0.9);
  font-weight: 600;
  margin-bottom: 0;
  font-size: clamp(19px, 1.65vw, 1.65vw);
}
.dashboard-wrapper .dashboard-header-wrapper .header-container .dropdown-wrapper {
  display: flex;
  align-items: center;
  gap: clamp(20px, 1.8vw, 1.8vw);
}
.dashboard-wrapper .dashboard-header-wrapper .header-container .dropdown-wrapper .date-filter {
  width: clamp(110px, 11.46vw, 11.46vw);
  position: relative;
}
.dashboard-wrapper .dashboard-header-wrapper .header-container .dropdown-wrapper .date-filter .date-dropdown .date-text {
  color: #154787;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-bottom: 5px;
  border-bottom: 1px solid #154787;
  font-size: clamp(12px, 0.79vw, 0.79vw);
}
.dashboard-wrapper .dashboard-header-wrapper .header-container .dropdown-wrapper .date-filter .date-dropdown .date-text img {
  width: clamp(12px, 1.15vw, 1.15vw);
}
.dashboard-wrapper .dashboard-header-wrapper .header-container .dropdown-wrapper .date-filter .dropdown-menu {
  display: none;
  list-style: none;
  border: 1px solid #ccc;
  padding: clamp(12px, 0.79vw, 0.79vw) clamp(12px, 0.79vw, 0.79vw) 6px;
  margin: 0;
  position: absolute;
  width: fit-content;
  background-color: white;
  top: 100%;
  margin-top: clamp(6px, 0.521vw, 0.521vw);
}
.dashboard-wrapper .dashboard-header-wrapper .header-container .dropdown-wrapper .date-filter .dropdown-menu li {
  padding: 10px 10px 5px 8px;
  font-size: clamp(11px, 0.73vw, 0.73vw);
  cursor: pointer;
}
.dashboard-wrapper .dashboard-header-wrapper .header-container .dropdown-wrapper .date-filter .dropdown-menu:hover {
  background: #f0f0f0;
}
.dashboard-wrapper .dashboard-header-wrapper .header-container .dropdown-wrapper .date-filter .dropdown-menu.active {
  display: block;
}
.dashboard-wrapper .dashboard-header-wrapper .header-container .dropdown-wrapper .date-filter .date-picker {
  position: absolute;
  display: none;
  right: 0;
  margin-top: clamp(5px, 0.521vw, 0.521vw);
  border: 1px solid #ccc;
  border-radius: clamp(5px, 0.521vw, 0.521vw);
  background-color: white;
  padding: clamp(7px, 0.73vw, 0.73vw) clamp(11px, 1.15vw, 1.15vw);
  width: 152%;
}
.dashboard-wrapper .dashboard-header-wrapper .header-container .dropdown-wrapper .date-filter .date-picker .input-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: clamp(5px, 0.521vw, 0.521vw);
  padding-bottom: clamp(5px, 0.521vw, 0.521vw);
  margin-bottom: clamp(5px, 0.521vw, 0.521vw);
  border-bottom: 1px solid #ddd;
}
.dashboard-wrapper .dashboard-header-wrapper .header-container .dropdown-wrapper .date-filter .date-picker .input-wrapper span {
  padding: 6px 8px;
  text-align: center;
  cursor: pointer;
  border-radius: 6px;
  color: #acacac;
  font-size: clamp(9px, 0.73vw, 0.73vw);
}
.dashboard-wrapper .dashboard-header-wrapper .header-container .dropdown-wrapper .date-filter .date-picker .input-wrapper span:hover {
  background: #eee;
}
.dashboard-wrapper .dashboard-header-wrapper .header-container .dropdown-wrapper .date-filter .date-picker .input-wrapper span.active {
  background-color: #f0f3ff;
  color: #837ede;
}
.dashboard-wrapper .dashboard-header-wrapper .header-container .dropdown-wrapper .date-filter .date-picker .calendar .top-wrapper {
  margin-bottom: 20px;
}
.dashboard-wrapper .dashboard-header-wrapper .header-container .dropdown-wrapper .date-filter .date-picker .calendar .top-wrapper .month-selector {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
}
.dashboard-wrapper .dashboard-header-wrapper .header-container .dropdown-wrapper .date-filter .date-picker .calendar .top-wrapper .month-selector .year-wrapper {
  display: flex;
  align-items: center;
  font-size: clamp(14px, 0.83vw, 0.83vw);
  gap: clamp(17px, 2vw, 2vw);
}
.dashboard-wrapper .dashboard-header-wrapper .header-container .dropdown-wrapper .date-filter .date-picker .calendar .top-wrapper .month-selector .year-wrapper .month-name, .dashboard-wrapper .dashboard-header-wrapper .header-container .dropdown-wrapper .date-filter .date-picker .calendar .top-wrapper .month-selector .year-wrapper .year {
  color: #5c5c5c;
  font-weight: 500;
}
.dashboard-wrapper .dashboard-header-wrapper .header-container .dropdown-wrapper .date-filter .date-picker .calendar .top-wrapper .month-selector .arrow {
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  background-color: white;
  width: clamp(14px, 1.304vw, 1.304vw);
  height: clamp(14px, 1.304vw, 1.304vw);
  border-radius: 12px;
}
.dashboard-wrapper .dashboard-header-wrapper .header-container .dropdown-wrapper .date-filter .date-picker .calendar .top-wrapper .month-selector .arrow img {
  width: clamp(12px, 1.05vw, 1.05vw);
}
.dashboard-wrapper .dashboard-header-wrapper .header-container .dropdown-wrapper .date-filter .date-picker .calendar .content {
  visibility: visible;
}
.dashboard-wrapper .dashboard-header-wrapper .header-container .dropdown-wrapper .date-filter .date-picker .calendar .content .days {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  grid-row-gap: 15px;
  margin-top: 15px;
  margin-bottom: 20px;
}
.dashboard-wrapper .dashboard-header-wrapper .header-container .dropdown-wrapper .date-filter .date-picker .calendar .content .days .day {
  color: black;
  font-weight: 500;
  font-size: 0.73vw;
  justify-self: center;
}
.dashboard-wrapper .dashboard-header-wrapper .header-container .dropdown-wrapper .date-filter .date-picker .calendar .content .dates {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  grid-row-gap: clamp(5px, 0.73vw, 0.73vw);
  grid-column-gap: clamp(5px, 0.521vw, 0.521vw);
}
.dashboard-wrapper .dashboard-header-wrapper .header-container .dropdown-wrapper .date-filter .date-picker .calendar .content .date {
  justify-self: center;
  border: none;
  margin: 0;
  padding: 0;
  width: clamp(18px, 1.5vw, 1.5vw);
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: transparent;
  border: 1px solid transparent;
  border-radius: 50%;
  cursor: pointer;
  display: block;
  font-size: clamp(10px, 0.79vw, 0.79vw);
  font-weight: 500;
  color: #5c5c5c;
}
.dashboard-wrapper .dashboard-header-wrapper .header-container .dropdown-wrapper .date-filter .date-picker .calendar .content .date:focus {
  background-color: #f0f3ff;
  color: #837ede;
}
.dashboard-wrapper .dashboard-header-wrapper .header-container .dropdown-wrapper .date-filter .date-picker .calendar .content .date.faded {
  color: #999fa6;
}
.dashboard-wrapper .dashboard-header-wrapper .header-container .dropdown-wrapper .date-filter .date-picker .calendar .content .date.faded:focus {
  background-color: #f0f3ff;
  color: #837ede;
  pointer-events: none;
  font-weight: 500;
  background-color: transparent;
}
.dashboard-wrapper .dashboard-header-wrapper .header-container .dropdown-wrapper .date-filter .date-picker .calendar .content .date.current-date {
  background-color: #f0f3ff;
  color: #837ede;
}
.dashboard-wrapper .dashboard-header-wrapper .header-container .dropdown-wrapper .date-filter .date-picker .calendar .content .date:hover, .dashboard-wrapper .dashboard-header-wrapper .header-container .dropdown-wrapper .date-filter .date-picker .calendar .content .date.current-day {
  background-color: #f0f3ff;
  color: #837ede;
  font-weight: 500;
}
.dashboard-wrapper .dashboard-header-wrapper .header-container .dropdown-wrapper .date-filter .date-picker .calendar .content.not-active {
  visibility: hidden;
}
.dashboard-wrapper .dashboard-header-wrapper .header-container .dropdown-wrapper .date-filter .date-picker.active {
  display: block;
}
.dashboard-wrapper .dashboard-header-wrapper .header-container .dropdown-wrapper .widget-btn {
  position: relative;
  color: #154787;
  display: inline-flex;
  padding: 5px 7px;
  border: 1px solid #154787;
  font-size: clamp(12px, 0.79vw, 0.79vw);
}
.dashboard-wrapper .dashboard-header-wrapper .header-container .dropdown-wrapper .widget-btn .widget-dropdown-menu {
  display: none;
  position: absolute;
  background: white;
  border: 1px solid #ccc;
  border-radius: 10px;
  top: 100%;
  margin-top: clamp(12px, 0.79vw, 0.79vw);
  padding: clamp(12px, 1.05vw, 1.05vw) clamp(9px, 0.79vw, 0.79vw) clamp(16px, 1.304vw, 1.304vw);
  right: 0;
  list-style: none;
  width: 151%;
}
.dashboard-wrapper .dashboard-header-wrapper .header-container .dropdown-wrapper .widget-btn .widget-dropdown-menu p {
  color: black;
  opacity: 0.8;
  font-size: clamp(14px, 0.89vw, 0.89vw);
  font-weight: 500;
  padding-bottom: clamp(5px, 0.521vw, 0.521vw);
  border-bottom: 1px solid #ddd;
  margin-bottom: clamp(5px, 0.521vw, 0.521vw);
  line-height: 1;
}
.dashboard-wrapper .dashboard-header-wrapper .header-container .dropdown-wrapper .widget-btn .widget-dropdown-menu li {
  font-size: clamp(11px, 0.79vw, 0.79vw);
  margin-bottom: clamp(8px, 0.73vw, 0.73vw);
  display: flex;
  align-items: center;
  gap: clamp(5px, 0.521vw, 0.521vw);
  color: rgba(0, 0, 0, 0.8);
}
.dashboard-wrapper .dashboard-header-wrapper .header-container .dropdown-wrapper .widget-btn .widget-dropdown-menu li input {
  appearance: none;
  width: clamp(10px, 0.93vw, 0.93vw);
  height: clamp(10px, 0.93vw, 0.93vw);
  border: 1px solid #154787;
  border-radius: 5px;
  position: relative;
  accent-color: #154787;
}
.dashboard-wrapper .dashboard-header-wrapper .header-container .dropdown-wrapper .widget-btn .widget-dropdown-menu li input:checked {
  background-color: #154787;
}
.dashboard-wrapper .dashboard-header-wrapper .header-container .dropdown-wrapper .widget-btn .widget-dropdown-menu li input:checked:checked::after {
  content: "✔";
  position: absolute;
  font-size: clamp(10px, 0.73vw, 0.73vw);
  left: 2px;
  top: -2px;
  color: white;
}
.dashboard-wrapper .dashboard-header-wrapper .header-container .dropdown-wrapper .widget-btn .widget-dropdown-menu.active {
  display: block;
}
.dashboard-wrapper .dashboard-header-wrapper .stats-wrapper {
  display: flex;
  align-items: center;
  gap: clamp(28px, 3.04vw, 3.04vw);
}
.dashboard-wrapper .dashboard-header-wrapper .stats-wrapper .stat-container {
  display: flex;
  gap: clamp(10px, 1.05vw, 1.05vw);
}
.dashboard-wrapper .dashboard-header-wrapper .stats-wrapper .stat-container .img-wrapper {
  width: clamp(26px, 2.98vw, 2.98vw);
  height: clamp(26px, 2.98vw, 2.98vw);
  border-radius: 50%;
  background-color: #ddebf8;
  display: flex;
  align-items: center;
  justify-content: center;
}
.dashboard-wrapper .dashboard-header-wrapper .stats-wrapper .stat-container .img-wrapper img {
  width: clamp(17px, 1.25vw, 1.25vw);
}
.dashboard-wrapper .dashboard-header-wrapper .stats-wrapper .stat-container .stat-content .stat-title {
  font-size: clamp(12px, 0.93vw, 0.93vw);
  color: black;
  font-weight: 500;
  opacity: 0.84;
  margin-bottom: clamp(6px, 0.521vw, 0.521vw);
}
.dashboard-wrapper .dashboard-header-wrapper .stats-wrapper .stat-container .stat-content .stat-text {
  font-size: clamp(16px, 1.304vw, 1.304vw);
  color: black;
  text-align: center;
  font-weight: 600;
  opacity: 0.8;
  margin-bottom: 0;
}
.dashboard-wrapper .dashboard-header-wrapper .stats-wrapper .stat-container:first-of-type {
  margin-right: clamp(10px, 1.05vw, 1.05vw);
}
.dashboard-wrapper .dashboard-body-wrapper .quotes-container {
  width: 62%;
}
.dashboard-wrapper .dashboard-body-wrapper .quotes-container h3 {
  font-size: clamp(14px, 1.15vw, 1.15vw);
  font-weight: normal;
  color: black;
  opacity: 0.95;
}
.dashboard-wrapper .dashboard-body-wrapper .quotes-container .table-wrapper {
  border: 1px solid #ccc;
  padding: clamp(12px, 1.25vw, 1.25vw) clamp(12px, 1.25vw, 1.25vw);
  border-radius: clamp(3px, 0.521vw, 0.521vw);
  background-color: white;
}
.dashboard-wrapper .dashboard-body-wrapper .quotes-container .table-wrapper .top-container {
  padding-bottom: clamp(5px, 0.521vw, 0.521vw);
  border-bottom: 1px solid #ddd;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.dashboard-wrapper .dashboard-body-wrapper .quotes-container .table-wrapper .top-container .btn-container {
  display: flex;
  align-items: center;
  gap: clamp(10px, 0.93vw, 0.93vw);
}
.dashboard-wrapper .dashboard-body-wrapper .quotes-container .table-wrapper .top-container .btn-container button {
  border: none;
  background-color: transparent;
  font-size: clamp(10px, 0.73vw, 0.73vw);
  display: inline-flex;
  align-items: center;
  gap: clamp(8px, 0.63vw, 0.63vw);
  position: relative;
}
.dashboard-wrapper .dashboard-body-wrapper .quotes-container .table-wrapper .top-container .btn-container button span {
  font-size: clamp(7px, 0.521vw, 0.521vw);
  width: clamp(10px, 1.05vw, 1.05vw);
  height: clamp(10px, 1.05vw, 1.05vw);
  border-radius: 50%;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  background-color: #d5d5d5;
  opacity: 0.8;
}
.dashboard-wrapper .dashboard-body-wrapper .quotes-container .table-wrapper .top-container .btn-container button::after {
  position: absolute;
  content: "";
  left: 10%;
  width: 50%;
  height: 1px;
  background-color: #015685;
  bottom: calc(clamp(10px, 0.79vw, 0.79vw) * -1);
  transform: translateX(-50%) scale(0);
  transition: transform 0.3s ease;
}
.dashboard-wrapper .dashboard-body-wrapper .quotes-container .table-wrapper .top-container .btn-container button.active {
  color: #015685;
}
.dashboard-wrapper .dashboard-body-wrapper .quotes-container .table-wrapper .top-container .btn-container button.active span {
  background-color: #154787;
  color: white;
}
.dashboard-wrapper .dashboard-body-wrapper .quotes-container .table-wrapper .top-container .btn-container button.active::after {
  transform: scale(1);
}
.dashboard-wrapper .dashboard-body-wrapper .quotes-container .table-wrapper .top-container .filter-wrapper {
  display: flex;
  align-items: center;
  gap: clamp(5px, 0.521vw, 0.521vw);
}
.dashboard-wrapper .dashboard-body-wrapper .quotes-container .table-wrapper .top-container .filter-wrapper .search-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border: 1px solid rgba(0, 0, 0, 0.3);
  padding: 4px clamp(9px, 0.79vw, 0.79vw);
  width: clamp(160px, 12.35vw, 12.35vw);
  border-radius: 3px;
}
.dashboard-wrapper .dashboard-body-wrapper .quotes-container .table-wrapper .top-container .filter-wrapper .search-container input {
  border: none;
  outline: none;
  font-size: clamp(10px, 0.63vw, 0.63vw);
}
.dashboard-wrapper .dashboard-body-wrapper .quotes-container .table-wrapper .top-container .filter-wrapper .search-container input::placeholder {
  font-size: clamp(10px, 0.63vw, 0.63vw);
}
.dashboard-wrapper .dashboard-body-wrapper .quotes-container .table-wrapper .top-container .filter-wrapper .search-container label img {
  width: 12px, 0.83vw, 0.83vw;
}
.dashboard-wrapper .dashboard-body-wrapper .quotes-container .table-wrapper .top-container .filter-wrapper .filter-container {
  position: relative;
}
.dashboard-wrapper .dashboard-body-wrapper .quotes-container .table-wrapper .top-container .filter-wrapper .filter-container .filter-text {
  display: flex;
  align-items: center;
  gap: clamp(6px, 0.521vw, 0.521vw);
  font-size: clamp(10px, 0.63vw, 0.63vw);
  color: #616161;
}
.dashboard-wrapper .dashboard-body-wrapper .quotes-container .table-wrapper .top-container .filter-wrapper .filter-container .filter-text img {
  width: 15px, 0.989vw, 0.989vw;
}
.dashboard-wrapper .dashboard-body-wrapper .quotes-container .table-wrapper .top-container .filter-wrapper .filter-container {
  border: 1px solid rgba(0, 0, 0, 0.3);
  padding: 4px clamp(9px, 0.79vw, 0.79vw);
  border-radius: 3px;
}
.dashboard-wrapper .dashboard-body-wrapper .quotes-container .table-wrapper .top-container .filter-wrapper .filter-container .filter-dropdown {
  display: none;
  list-style: none;
  border: 1px solid #ccc;
  padding: clamp(10px, 0.79vw, 0.79vw) 0;
  margin: 0;
  position: absolute;
  background-color: white;
  top: 100%;
  right: 0;
  width: max-content;
  margin-top: clamp(6px, 0.521vw, 0.521vw);
}
.dashboard-wrapper .dashboard-body-wrapper .quotes-container .table-wrapper .top-container .filter-wrapper .filter-container .filter-dropdown ul {
  padding-left: 0;
  list-style-type: none;
  margin-bottom: 0;
  display: flex;
  flex-direction: column;
  gap: clamp(6px, 0.521vw, 0.521vw);
}
.dashboard-wrapper .dashboard-body-wrapper .quotes-container .table-wrapper .top-container .filter-wrapper .filter-container .filter-dropdown ul li {
  padding: clamp(5px, 0.521vw, 0.521vw) clamp(12px, 2.067vw, 2.067vw);
  font-size: clamp(11px, 0.73vw, 0.73vw);
  cursor: pointer;
}
.dashboard-wrapper .dashboard-body-wrapper .quotes-container .table-wrapper .top-container .filter-wrapper .filter-container .filter-dropdown ul li:hover {
  background: #f0f0f0;
}
.dashboard-wrapper .dashboard-body-wrapper .quotes-container .table-wrapper .top-container .filter-wrapper .filter-container .filter-dropdown.active {
  display: block;
}
.dashboard-wrapper .dashboard-body-wrapper .quotes-container .table-wrapper .top-container .filter-wrapper .export-btn {
  border: none;
  background-color: transparent;
  margin-left: clamp(9px, 0.79vw, 0.79vw);
}
.dashboard-wrapper .dashboard-body-wrapper .quotes-container .table-wrapper .top-container .filter-wrapper .export-btn img {
  width: 15px, 0.989vw, 0.989vw;
}
.dashboard-wrapper .dashboard-body-wrapper .quotes-container .table-wrapper .top-container .filter-wrapper .expand-btn {
  border: none;
  background-color: transparent;
  margin-left: clamp(9px, 0.79vw, 0.79vw);
}
.dashboard-wrapper .dashboard-body-wrapper .quotes-container .table-wrapper .top-container .filter-wrapper .expand-btn img {
  width: 15px, 0.989vw, 0.989vw;
}
.dashboard-wrapper .dashboard-body-wrapper .quotes-container .table-wrapper .quote-table {
  width: 100%;
}
.dashboard-wrapper .dashboard-body-wrapper .quotes-container .table-wrapper .quote-table thead tr {
  width: 100%;
  display: inline-flex;
  gap: clamp(10px, 0.63vw, 0.63vw);
  justify-content: space-between;
  padding: clamp(10px, 0.79vw, 0.79vw) clamp(10px, 0.79vw, 0.79vw) clamp(10px, 0.79vw, 0.79vw) 0;
  border-bottom: 1px solid rgba(0, 0, 0, 0.6);
}
.dashboard-wrapper .dashboard-body-wrapper .quotes-container .table-wrapper .quote-table thead tr th {
  display: inline-flex;
  align-items: center;
  font-weight: normal;
  font-size: clamp(10px, 0.79vw, 0.79vw);
  gap: clamp(10px, 0.79vw, 0.79vw);
  color: rgba(0, 0, 0, 0.9);
  font-weight: 500;
}

/*# sourceMappingURL=style.css.map */
